:root{
    --offWhite: #F7F5FA;
    --black: black;
    --grey: grey;
    --offRed: rgb(226, 73, 73);
    --white: white;
    --small: 10px;
    --large: 100px;
    --medium: 50px;
    --small: 15px;
}

body{
    background-color: var(--offWhite);
    font-family: times;
    font-weight: bold;
}

.bolder{
    font-weight: 900;
}

.title{
    font-size: var(--medium);
    width: 100px;
    padding-left: 100px;
    padding-top: 80px;
    position: fixed;
    
}

.side-bar{
    width: 100px;
    height: 400px;    
    margin-top: 260px;
    margin-left: 100px;
    position: fixed;
    overflow: hidden;
    display: grid;
}

.side-bar a{
    font-size: var(--small);
    color: var(--grey);
}

.button{
    margin-top: 660px;
    margin-left: 100px;
    color: var(--white);
    padding: 10px;
    width: 100px;
    text-align: center;
    position: fixed;
    font-size:var(--small);
    border-radius: var(--small);
    background-color: var(--offRed);
}
.heading{
    font-size: var(--large);
    width: 1000px;
    padding-top: 150px;
    padding-left: 370px;
    line-height: 100px;
    position: fixed;
}

.article{
    font-size: var(--small);
    line-height: 30px;
    color: var(--grey);
    width: 200px;
    top: 170px; 
    right: 120px;
    position: fixed;
}

.line{
    width: var(--medium);
    height: 3px;
    border-radius: 2px;
    background-color: var(--offRed);
    margin-top: 20px;
}

.image-block{
    display: flex;
    width: 100%;
    height: 200px;
    padding-left: 350px;
    padding-top: 400px;
    position: fixed;
}
.box{
    width: 200px;
    height: 230px;
    font-size: var(--small);
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 1px rgb(218, 209, 209);
    background: var(--white);
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 20px;
}

.box p{
    margin: 20px;
}
